parameters:
	customRulesetUsed: true
	# Ignore tests
	excludes_analyse:
		- *Test.php
		- *TestBase.php
includes:
	# Add the phpstan-drupal extension
	- vendor/mglaman/phpstan-drupal/extension.neon
	- vendor/phpstan/phpstan-deprecation-rules/rules.neon